
<div class="card-container">
    <h1>Welcome to Beginner English Lessons</h1>
  
    <div class="lesson-cards">
      <div class="card" *ngFor="let lesson of lessons" (click)="openLesson(lesson.id)">
          <a [routerLink]="lesson.link" routerLinkActive="active">
              <h3>{{ lesson.title }}</h3>
          </a>
      </div>
  </div>
  
    <ng-container *ngFor="let lesson of lessons">
      <div *ngIf="selectedLesson === lesson.id">
          <ng-container *ngComponentOutlet="lesson.component"></ng-container>
      </div>
    </ng-container>
</div>
 


  