<!-- beginner.component.html -->
<div class="lesson-container">
    <h1>Welcome to Beginner English Lessons</h1>
  
    <!-- Cards for Lessons -->
    <div class="lesson-cards">
      <div class="card" (click)="openLesson('lesson1')">
        <a routerLink="/lesson1" routerLinkActive="active">
        <h3>Lesson 1: Daily Routine</h3>
    </a>
      </div>
      <div class="card" (click)="openLesson('lesson2')">
        <h3>Lesson 2: Food and Drink</h3>
      </div>
      <div class="card" (click)="openLesson('lesson3')">
        <h3>Lesson 3: Family</h3>
      </div>
    </div>
  
    <!-- Display the Selected Lesson -->
    <div *ngIf="selectedLesson === 'lesson1'">
      <app-lesson1></app-lesson1>
    </div>
    <div *ngIf="selectedLesson === 'lesson2'">
      <app-lesson2></app-lesson2>
    </div>
    <div *ngIf="selectedLesson === 'lesson3'">
      <app-lesson3></app-lesson3>
    </div>
  </div>
  <!-- app.component.html -->
<router-outlet></router-outlet>

  