

  label {
    font-weight: 400;
    display: block;
    margin: 5px 0;
  }

  .options {
    margin-left: 14px;
  }

  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 200px; 
    margin-top: 20px; /* Adds some space between the last cardn */
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #45a049; /* Optional: Adds hover effect for better user interaction */
  }
  
  .results {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
  }
